html { background-color: #ffd; }

body { max-width: 25em ; font-size: 99.9%;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}

h1 {
	color: #dda;
	font-family: sans-serif;
	position: absolute;
	right: 20px;
	z-index: -1;
}

h2, th { font-weight: normal; }

h2, th { font-variant: small-caps; }

h2 { font-size: 1.3em; }
h3 { font-size: 1.0em; }

h1, h2, h3, p, ul, ol, table { margin-left: 50px; padding-left: 0; }

p { page-break-inside: avoid; position: relative; word-break: hyphenate; }

strong { position: absolute; left: -2em; }

p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

table { border: 1px solid #000; border-width: 1px 0; }
td, tr { padding: 2px 5px; }
td, tr { margin: 0; }
