body { max-width: 25em ; font-size: 99.9%;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}

h1 { font-size: 1.3em; font-variant: small-caps; font-weight: normal; }

h1, p { margin-left: 50px; padding-left: 0; }

p { page-break-inside: avoid; position: relative; word-break: hyphenate; }

strong { position: absolute; left: -2em; }

p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
